

/* App */
.kortti {
  margin-left: 10;
} 

.kysymysosio{
  margin-left: 30px;
  margin-right: 60px;
}

.poistu{
  right: 0;
}

.kysymys{
  margin-left: 20px;
}

.tenttiValinta:focus{
  outline: #4CAF50 solid 2px;
}



/* MuokkaaKysymyksiä */
.kysymysM{
  margin-left: 20px;
  width: 80%;
}

.lisääM {
  position: left;
}

.vastausM{
  width: 60%;
  min-width: 50px;
}

.lisääK{
  position: center;
}




/* LuoKäyttäjä */
.rekisteröidy {
  margin-left: 20px;
}

.lomake-br {
  line-height:200%;
}

.rekisteröinti-kohta {
  margin-top:5px;
  margin-bottom:5px
}

.rekisteröinti-p {
  margin-top:5px;
  margin-bottom:5px
}

/* Login */
.kirjaudu {
  margin-left: 20px;
}





/* Oletus */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    width: 10%;
    margin-left: 30px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}